In [2]:
##Exploración de datos
import pandas as pd
df = pd.read_csv("PixarMovies.csv")  ##Se importa el dataset

print(df.head()) ##Se muestran las primeras filas

   Year Released           Movie  Length  RT Score  IMDB Score  \
0           1995       Toy Story      81       100         8.3
1           1998    A Bug's Life      96        92         7.2
2           1999     Toy Story 2      92       100         7.9
3           2001  Monsters, Inc.      90        96         8.1
4           2003    Finding Nemo     104        99         8.2

   Metacritic Score  Opening Weekend  Worldwide Gross  Domestic Gross  \
0                92            29.14            362.0           191.8
1                77            33.26            363.4           162.8
2                88            57.39            485.0           245.9
3                78            62.58            528.8           255.9
4                90            70.25            895.6           339.7

   Adjusted Domestic Gross  International Gross Domestic % International %  \
0                   356.21                170.2     52.98%          47.02%
1                   277.18                200.6     44.80%          55.20%
2                   388.43                239.2     50.70%          49.32%
3                   366.12                272.9     48.39%          51.61%
4                   457.46                555.9     37.93%          62.07%

   Production Budget  Oscars Nominated  Oscars Won
0                 30               3.0         0.0
1                 45               1.0         0.0
2                 90               1.0         0.0
3                115               3.0         1.0
4                 94               4.0         1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year Released            15 non-null     int64
 1   Movie                    15 non-null     object
 2   Length                   15 non-null     int64
 3   RT Score                 15 non-null     int64
 4   IMDB Score               15 non-null     float64
 5   Metacritic Score         15 non-null     int64
 6   Opening Weekend          15 non-null     float64
 7   Worldwide Gross          15 non-null     float64
 8   Domestic Gross           15 non-null     float64
 9   Adjusted Domestic Gross  15 non-null     float64
 10  International Gross      15 non-null     float64
 11  Domestic %               15 non-null     object
 12  International %          15 non-null     object
 13  Production Budget        15 non-null     int64
 14  Oscars Nominated         14 non-null     float64
 15  Oscars Won               14 non-null     float64
dtypes: float64(8), int64(5), object(3)
memory usage: 2.0+ KB

In [5]:
df.describe()

,Year Released,Length,RT Score,IMDB Score,Metacritic Score,Opening Weekend,Worldwide Gross,Domestic Gross,Adjusted Domestic Gross,International Gross,Production Budget,Oscars Nominated,Oscars Won
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,14.000000,14.000000
mean,2006.066667,101.533333,89.333333,7.846667,82.800000,67.990667,612.486667,258.506667,318.448000,353.986667,133.400000,2.857143,0.785714
std,5.933761,9.927355,16.451950,0.655599,12.119642,23.270468,190.193934,66.518284,73.321064,135.061615,59.696614,2.032700,0.801784
min,1995.000000,81.000000,39.000000,6.300000,57.000000,29.140000,362.000000,162.800000,194.430000,170.200000,30.000000,0.000000,0.000000
25%,2002.000000,96.000000,85.000000,7.300000,75.000000,58.755000,503.150000,215.100000,261.350000,256.050000,91.000000,1.000000,0.000000
50%,2007.000000,102.000000,96.000000,8.000000,88.000000,66.300000,559.900000,245.900000,318.900000,336.600000,150.000000,3.000000,1.000000
75%,2010.500000,109.000000,98.500000,8.300000,92.000000,76.450000,704.200000,280.750000,361.165000,427.800000,182.500000,4.750000,1.000000
max,2015.000000,116.000000,100.000000,8.800000,96.000000,110.310000,1063.200000,415.000000,457.460000,648.200000,200.000000,6.000000,2.000000

In [11]:
###Limpieza
print(df.isnull().sum()) ###Ver cuántos nulos hay

print("\nNo se encontraron valores nulos")

Year Released              0
Movie                      0
Length                     0
RT Score                   0
IMDB Score                 0
Metacritic Score           0
Opening Weekend            0
Worldwide Gross            0
Domestic Gross             0
Adjusted Domestic Gross    0
International Gross        0
Domestic %                 0
International %            0
Production Budget          0
Oscars Nominated           0
Oscars Won                 0
dtype: int64

No se encontraron valores nulos

In [17]:
###Filtros aplicados
filtro_1 = df[df['RT Score']>= 90]    ###Películas con alto puntaje en Rotten Tomatoes
filtro_2 = df[df['IMDB Score'] >= 8.0]  ###Películas con alta puntuación en IMDB
filtro_3 = df[df['Metacritic Score'] >= 80]  ###Películas con alto puntaje en Metacritic

print("Películas con alto puntaje en Rotten Tomatoes:")
print(filtro_1 [["Movie", "RT Score"]])
print("\nPelículas con alta puntuación en IMDB:")
print(filtro_2 [["Movie", "IMDB Score"]])
print("\nPelículas con alto puntaje en Metacritic")
print(filtro_3 [["Movie", "Metacritic Score"]])

Películas con alto puntaje en Rotten Tomatoes:
              Movie  RT Score
0         Toy Story       100
1      A Bug's Life        92
2       Toy Story 2       100
3    Monsters, Inc.        96
4      Finding Nemo        99
5   The Incredibles        97
7       Ratatouille        96
8            WALL-E        96
9                Up        98
10      Toy Story 3        99
14       Inside Out        98

Películas con alta puntuación en IMDB:
              Movie  IMDB Score
0         Toy Story         8.3
3    Monsters, Inc.         8.1
4      Finding Nemo         8.2
5   The Incredibles         8.0
7       Ratatouille         8.0
8            WALL-E         8.4
9                Up         8.3
10      Toy Story 3         8.4
14       Inside Out         8.8

Películas con alto puntaje en Metacritic
              Movie  Metacritic Score
0         Toy Story                92
2       Toy Story 2                88
4      Finding Nemo                90
5   The Incredibles                90
7       Ratatouille                96
8            WALL-E                94
9                Up                88
10      Toy Story 3                92
14       Inside Out                93

In [19]:
##Columnas nuevas
df["Rentabilidad"] = df['Worldwide Gross'] / df['Production Budget']
df["Crítica Promedio"] = (df['RT Score'] + df['IMDB Score'] + df['Metacritic Score']) / 3

print(df[["Movie", "Rentabilidad", "Crítica Promedio"]])

                  Movie  Rentabilidad  Crítica Promedio
0             Toy Story     12.066667         66.766667
1          A Bug's Life      8.075556         58.733333
2           Toy Story 2      5.388889         65.300000
3        Monsters, Inc.      4.598261         60.700000
4          Finding Nemo      9.527660         65.733333
5       The Incredibles      6.863043         65.000000
6                  Cars      6.600000         51.400000
7           Ratatouille      4.158000         66.666667
8                WALL-E      2.896111         66.133333
9                    Up      4.178857         64.766667
10          Toy Story 3      5.316000         66.466667
11               Cars 2      2.799500         34.100000
12                Brave      2.913514         51.400000
13  Monsters University      3.718000         50.133333
14           Inside Out      3.869143         66.600000

In [20]:
promedios_anuales = df.groupby("Year Released")[["Worldwide Gross", "RT Score"]].mean()
print(promedios_anuales)

               Worldwide Gross  RT Score
Year Released
1995                     362.0     100.0
1998                     363.4      92.0
1999                     485.0     100.0
2001                     528.8      96.0
2003                     895.6      99.0
2004                     631.4      97.0
2006                     462.0      74.0
2007                     623.7      96.0
2008                     521.3      96.0
2009                     731.3      98.0
2010                    1063.2      99.0
2011                     559.9      39.0
2012                     539.0      78.0
2013                     743.6      78.0
2015                     677.1      98.0

In [ ]:
###Insights
Las películas con mejor crítica suelen tener mayor recaudación internacional.
Pixar mantuvo puntuaciones muy altas en los primeros años (2000–2010).
Las películas con más de 8.0 en IMDB suelen ganar más del doble de su presupuesto.
La mayoría de las ganancias vienen del mercado internacional.
Las películas nominadas al Óscar tienen rentabilidad promedio más alta.

In [ ]:
#Análisis Exploratorio de Datos – Pixar Movies

##1. Importación y descripción del dataset
Se importó el dataset **Pixar Movies**, el cual contiene información sobre películas de los estudios Pixar: año de estreno, duración, presupuestos, recaudaciones y puntuaciones en distintas plataformas (Rotten Tomatoes, IMDB y Metacritic).

---

## 2. Limpieza de datos
Se verificó si existían valores nulos con `df.isnull().sum()`.
El resultado mostró 0 valores nulos en todas las columnas, por lo tanto no fue necesario realizar una limpieza adicional.

---

##3. Filtros aplicados
Se aplicaron diferentes filtros para analizar el dataset desde varios enfoques:

Filtro 1:Películas con puntaje ≥ 90 en Rotten Tomatoes.
Filtro 2: Películas con puntuación ≥ 8.0 en IMDB.
Filtro 3: Películas con ganancias mundiales mayores a 500 millones de dólares.

Cada filtro se imprimió mostrando solo las columnas más relevantes (`Movie`, `RT Score`, `IMDB Score`, `Worldwide Gross`).

---

##4. Nuevas columnas creadas
Se añadieron dos columnas al dataset:

Rentabilidad: relación entre la ganancia mundial y el presupuesto.